{% extends '@common.presentation/base_appshell.html.twig' %}

{% block title %}{{ 'set_password.title'|trans({}, 'account') }}{% endblock %}

{% block body %}
    <div class="min-h-[60vh] flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
        <div class="w-full max-w-md space-y-8">
            {# Header #}
            <div class="text-center">
                <h1 class="etfswui-h1">
                    {{ 'set_password.heading'|trans({}, 'account') }}
                </h1>
                <p class="etfswui-text-small mt-2">
                    {{ 'set_password.subheading'|trans({}, 'account') }}
                </p>
            </div>

            {# Flash Messages #}
            {% for message in app.flashes('error') %}
                <div class="etfswui-alert etfswui-alert-danger">
                    <div class="etfswui-alert-body">
                        <p class="etfswui-alert-danger-text">{{ message }}</p>
                    </div>
                </div>
            {% endfor %}

            {# Set Password Form #}
            <div class="etfswui-card">
                <div class="etfswui-card-content">
                    <form action="{{ path('account.presentation.set_password') }}" method="post" class="space-y-6">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('set_password') }}">

                        {# Password Field #}
                        <div>
                            <label for="password" class="etfswui-form-label">
                                {{ 'set_password.form.password_label'|trans({}, 'account') }}
                            </label>
                            <input
                                id="password"
                                name="password"
                                type="password"
                                autocomplete="new-password"
                                required
                                placeholder="{{ 'set_password.form.password_placeholder'|trans({}, 'account') }}"
                                class="etfswui-form-input"
                            >
                        </div>

                        {# Confirm Password Field #}
                        <div>
                            <label for="password_confirm" class="etfswui-form-label">
                                {{ 'set_password.form.password_confirm_label'|trans({}, 'account') }}
                            </label>
                            <input
                                id="password_confirm"
                                name="password_confirm"
                                type="password"
                                autocomplete="new-password"
                                required
                                placeholder="{{ 'set_password.form.password_confirm_placeholder'|trans({}, 'account') }}"
                                class="etfswui-form-input"
                            >
                        </div>

                        {# Submit Button #}
                        <button
                            type="submit"
                            class="etfswui-button-default w-full justify-center"
                        >
                            {{ 'set_password.form.submit'|trans({}, 'account') }}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
